{% extends '../base.html' %}

{% load widget_tweaks %}
{% load humanize %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Admin</h4>
       
     
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Ticket ID</th>
                <th>User</th>
                <th>Topic</th>
                <th>Status</th>
                <th>Created</th>
                <th>Details </th>
              </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
              <tr>
               
                <td class="py-1">
                 #{{ticket.ticket_id}}
                </td>
                <td class="py-1">
                    {{ticket.customer}}
                   </td>
                <td>{{ticket.ticket_title}}</td>
                <td>
                   
                        {% if ticket.status == 'Pending' %}
                        <span class="badge bg-warning">Pending</span>
                        {% elif ticket.status == 'Active' %}
                        <span class="badge bg-success">Active</span>
                        
                        {% elif ticket.status == 'Resolved' %}
                        <span class="badge bg-danger">Resolved</span>
                        {% endif %}
                    
                </td>
                <td>{{ ticket.created_on }}</td>
                <td><a href="{% url "ticket:ticket-details" ticket.ticket_id %}" class="btn btn-primary btn-sm">View Details</a></td>
                
              </tr>
{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


{% comment %} <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for ticket in tickets %}
    <div class="cool">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ticket.ticket_title}}</h5>

                <p class="card-text">
                    {% if ticket.status == 'Pending' %}
                    Status:<span class="badge bg-warning">Pending</span>
                    {% elif ticket.status == 'Active' %}
                    Status:<span class="badge bg-success">Active</span>
                    
                    {% elif ticket.status == 'Resolved' %}
                    Status:<span class="badge bg-danger">Resolved</span>

                    {% endif %}
                </p>
            </div>

            <a href="{% url "ticket:ticket-details" ticket.ticket_id %}" class="btn btn-primary btn-sm">View Details</a>
            <div class="card-footer">
                <small class="text-muted">Created {{ ticket.created_on|naturaltime }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div> {% endcomment %}






{% endblock content %}