{% extends '../base.html' %}

{% block content %}

<div class="row p-5 mb-4 bg-light rounded-3">
    <div class="col-md-8">
        <div class="py-5">
            <h1 class="display-6 fw-bold">{{ticket.ticket_title}}</h1>
            <p class="">{{ticket.ticket_description}}</p>
            <p class="card-text">
                {% if ticket.status == 'Pending' %}
                Status:<span class="badge bg-warning">Pending</span>
                {% elif ticket.status == 'Active' %}
                Status:<span class="badge bg-success">Active</span>
                
                {% elif ticket.status == 'Resolved' %}
                Status:<span class="badge bg-danger">Resolved</span>

                {% endif %}
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="py-5">
                    <h2 class="display-6">Quick info</h2>
                    <p>Quick information about the customer thatv you are supporting</p>
                    <ul>
                        <li> <b>Uniquie Id: </b>{{ticket.ticket_id}}</li>
                        <li> <b>Customer: </b>{{ticket.customer}}</li>
                        <li> <b>Assigned Engineer: </b>{{ticket.engineer}}</li>
                        <li> <b>Created on: </b>{{ticket.created_on}}</li>
                        <li> <b>Severity: </b>{{ticket.severity}}</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>

{% if ticket.is_resolved %}

<div class="card">
    <div class="card-body">
        {{ticket.resolution_steps}}
    </div>
</div>
{% else %}
{% if request.user.is_engineer %}


<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Resolution Steps</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary"></a>
      <!-- Button trigger modal -->
      
        <div class="form-group">
          <label for="exampleFormControlFile1">Example file input</label>
          <textarea type="file" class="form-control-file" id="exampleFormControlFile1"></textarea>
        </div>
  
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
      </button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url "ticket:resolve-ticket" ticket.ticket_id %}" method="POST">
          {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" type="submit">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
    </div>
  </div>
  {% endif %}
  {% endif %}



{% endblock content %}


