
{% extends '../base.html' %}

{% block content %}



<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Ticket Id</th>
                <th scope="col">Ticket Title</th>
                <th scope="col">Customer</th>
                <th scope="col">DateCreated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>s
                {% for ticket in ticket %}
              <tr>
                {% comment %} {% url "ticket:ticket-detail" ticket.ticket_id %} {% endcomment %}
                <th scope="row"><a href="{% url "ticket:ticket-details" ticket.ticket_id %}"> {{ticket.ticket_id}}</a></th>
                <td>{{ticket.ticket_title}}</td>
                <td>{{ticket.customer}}</td>
                <td>{{ticket.created_on}}</td>
                <td> <a class="btn btn-outline-primary btn-sm" href="{% url "ticket:assign-ticket" ticket.ticket_id %}">Assign to Engineer</a></td>
                {% comment %} {% url "assign-ticket" ticket.ticket_id %} {% endcomment %}

              </tr>
              {% endfor %}

            </tbody>
          </table>
     
    </div>
  </div>

  {% endblock content %}