{% extends '../base.html' %}
<body>
    {% block content %}


      <div class="card text-center">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{% url "ticket:create-ticket" %}" class="btn btn-primary">Create ticket</a>
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
      </div>



        <div class="row">
          <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                 Actve Tickets <br> {{ active_tickets }}

                </h1>
              </div>

            </div>
         
          </div>
          <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                  Closed Tickets <br> {{closed_tickets}}

                </h1>
              </div>

            </div>
          </div>
          <div class="col">
            <div class="p-5 mb-4 bg-light rounded-3">
              <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                  Totall Tickets <br> {{tickets.count}}

                </h1>
              </div>

            </div>
          </div>
        </div>


      {% endblock content %}
</body>
</html>